<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="p-4">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <h1 class="fw-normal h2">Welcome to the app</h1>
                            <p>
                                <small class="text-muted">Please login to continue</small>
                            </p>
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" formControlName="username" placeholder="Username" class="form-control">
                        </div>

                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="password" class="form-label">Password</label>
                                <a routerLink="/forgot-password">Forgot password?</a>
                            </div>

                            <input type="password" formControlName="password" placeholder="Password"
                                class="form-control">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                        <div class="mb-3">
                            Don't have an account?
                            <a routerLink="/register">Register</a>
                        </div>

                    </form>
                </div>
                <!-- /.p-3 -->
            </div>
            <!-- empty div -->
            <div class="col-xl-8 col-lg-7 vh-100 d-lg-block d-none " style="background-color: lightcyan;">
            </div>
        </div>
    </div>
    <!-- /.container-flluid -->
</div>