<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <h1>About api</h1>
            <p>
                App name: {{about.name}}
            </p>
            <p>
                App version: {{about.version}}
            </p>

            <p>
                App description: {{about.description}}
            </p>

            <p>
                App author: {{about.author}}
            </p>

        </div>
        <!-- /.col-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->