<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5">

                <!-- home link -->
                <div class="d-flex justify-content-end py-3 fw-bold">
                    <a routerLink="/" class="text-decoration-none" style="font-size: 1.5rem;">
                        <!-- bootstrap svg close-->
                        <i class="bi bi-x-circle"></i>
                    </a>
                </div>

                <div class="p-4">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <h1 class="fw-normal h2">
                                Forgot Password
                            </h1>
                            <p>
                                <small class="text-muted">
                                    Please enter your email address to reset your password
                                </small>
                            </p>
                        </div>



                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" formControlName="email" placeholder="Email" class="form-control">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>

                        <div class="mb-3">
                            Do you have an account?
                            <a routerLink="/login"> Login</a>
                            or
                            <a routerLink="/register"> Register</a>
                        </div>




                    </form>
                </div>
                <!-- /.p-3 -->
            </div>
            <!-- empty div -->
            <div class="col-xl-8 col-lg-7 vh-100 d-lg-block d-none " style="background-color: lightyellow;">
            </div>
        </div>
    </div>
    <!-- /.container-flluid -->
</div>